/* General Styles */
body {
    font-family: 'courier new', courier, monospace;
    background-color: lightgray;
    color: rgb(108, 58, 179);
    margin: 20px;
    padding: 0;
}

/* Header Styles */
header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

header h1 {
    color: #333;

}

header p {
    font-size: 18px;
    color: #393636;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Exercise Box Styles */
.exercise-box-1 {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px dashed #333;
    text-align: center;
    background-color: #ffffff;
    /* Default background color */
    font-family: Arial, sans-serif;
    /* Default font */

        background-color: lightblue;
            font-family: Arial, Helvetica, sans-serif;
}


/* Exercise Box Styles */
.exercise-box-2 {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px dashed #333;
    text-align: center;
    background-color: #ffffff;
    /* Default background color */
    font-family: Arial, sans-serif;
    /* Default font */

    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.exercise-box p {
    margin: 10px;
    font-size: 20px;
}

#box-1 {
    width: 80%;
    height: auto;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    /* Ligth Blue */
}

#box-2 {
    width: 80%;
    height: auto;
    background-color: lightgreen;
    font-family: 'Times New Roman', Times, serif
    /* Light Green */
}
#box-3 {
    width: 80%;
    height: auto;
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    /* LightCoral*/
}
#box-4 {
    width: 80%;
    height: auto;
    background-color: lightgoldenrodyellow;
    font-family: 'Courier New', Courier, monospace;
    /* Light Golden Yellow*/
}
#box-5 {
    width: 80%;
    height: auto;
    background-color: lightsalmon;
    font-family: 'Georgia', serif;
    /* LightSalmon*/
}
#box-6 {
    width: 80%;
    height: auto;
    background-color: lightpink;
    font-family: comicSans, sans-serif;
    /* LightPink */
}