/* Basic styling */
body {
    font-family: cursive, sans-serif;
    font-size: 20px; /* Added font size */
    font-style: italic; /* Added font style */
}

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-size: 20px; /* Added font size */
    font-style: normal; /* Added font style */
}

footer {
    background-color: lightpink;
    padding: 10px;
    text-align: center;
    font-size: 18px; /* Added font size */
    font-style: normal; /* Added font style */
}

/* Issue: This text is currently hidden */
.hidden-text {
    display: block; /*Solution: Issue fixed by changing display to block */
    /* Fix this */
}

/* Items are currently stacked vertically */
.item {
    display: inline-block; /* Solution: Change this to allow them to be side by side */
    padding: auto;
    /* Change this to allow them to be side by side */
    padding: 10px;
    background-color: lightgreen;
    margin: 5px;
    font-style: normal; /* Added font style */
    font-family: 'Courier New', Courier, monospace; /* Added font family */
}